[Unit]
Description=Chia wallet

[Service]
Type=simple
Environment=PATH=/farm/chia-blockchain/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=CHIA_ROOT=/home/ubuntu/.chia/mainnet
ExecStart=/farm/chia-blockchain/venv/bin/chia_wallet
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
